* {
  margin: 0;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This sets the body to take up the full viewport height */
  flex-direction: column;
}

.card {
  border-radius: 16px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 7px 4px 10px 1px rgba(120, 87, 255, 0.6);
  box-shadow: 7px 4px 10px 1px rgba(120, 87, 255, 0.6);
  display: flex;
  height: 35vh;
  border-top: 0;
  border-bottom: 0;
  margin-bottom: 10px;
}

.circleBase {
  background: hsla(256, 72%, 46%, 1);
  background: -moz-linear-gradient(
    top,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  background: -webkit-linear-gradient(
    top,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 150px;
  height: 150px;
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background: #7857ff;
  background: -moz-linear-gradient(
    top,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  background: -webkit-linear-gradient(
    top,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  padding-top: 0.5%;
  padding-right: 5%;
  padding-left: 5%;
  color: #ffffff;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.number {
  font-size: 50px;
  font-weight: 800;
}

.of100 {
  font-weight: 500;
  font-size: 18px;
  color: #c8c1ff;
}

.heading-left {
  color: #c8c1ff;
  font-size: 20px;
  font-weight: 500;
}

.great {
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
}

.paragraph-left {
  font-weight: 500;
  font-size: 18px;
  color: #c8c1ff;
  margin: 20px;
}

.right {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  color: #000;
  align-items: stretch;
  justify-content: space-between;
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
}

.heading-right {
  color: #2c3448;
  font-size: 20px;
  font-weight: 500;
  padding-top: 1%;
}

.qualities {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  display: flex;
  border-radius: 8px;
  padding: 10px;
  justify-content: space-between;
  flex-direction: row;
}
.box-left {
  gap: 5%;
  display: flex;
  align-items: center;
}
.reaction {
  background-color: #fff6f5;
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: #fffbf2;
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: #f2fbfa;
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: #f3f3fd;
  color: hsl(234, 85%, 45%);
}

.button {
  color: #fff;
  background-color: #303b59;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding to change button size */
  font-size: 16px; /* Adjust font size */
  margin-bottom: 2%;
}

@media screen and (max-width: 425px) {
  body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  .card {
    border-radius: 16px;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 7px 4px 10px 1px rgba(120, 87, 255, 0.6);
    box-shadow: 7px 4px 10px 1px rgba(120, 87, 255, 0.6);
    display: flex;
    height: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
  .left {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    padding-top: 1.5%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
    margin-bottom: 20px;
    gap: 10px;
  }
  .right {
    padding: 0;
    gap: 5px;
  }
  .qualities {
    align-items: center;
    gap: 20px;
  }
  .heading-right {
    margin-left: 35px;
  }
  .box {
    width: 80%;
    height: 60px;
    align-items: center;
  }
  .button{
    width: 80%;
    margin-top: 10px;
    margin-left: 40px;
  }
}
